
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
}


header {
    position: fixed;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 2;
}

#notification-container {
    position: fixed; 
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.notification {
    background-color: #d9edf7;
    color: #31708f; 
    padding: 15px; 
    margin-bottom: 10px;
    border: 1px solid #bce8f1;
    border-radius: 5px; 
    position: relative;
    animation: slideDown 0.5s ease; 
}

.close-btn {
    position: absolute; 
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer; 
    font-weight: bold;
    color: #31708f; 
}

/* Animación de entrada */
@keyframes slideDown {
    from {
        transform: translateY(-20px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}


h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color:#ff7f50;
}

label {
    font-size: 1rem;
    color: #555;
}

input[type="text"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #ff7f50;
    outline: none;
}

button {
    background: linear-gradient(135deg, #ff7f50, #ff4500, #ff6347);
    color: white;
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.6s ease, filter 0.6s ease;
    background-size: 200%;
    background-position: left;
}

button:hover {
    background: linear-gradient(135deg, #888888, #666666, #444444);
    filter: grayscale(100%);
    background-position: right;
}

#download-btn {
    margin-top: 1rem;
    display: block;
}
#download-btnWord {
    margin-top: 1rem;
    display: block;
}

#loader {
    text-align: center;
    margin-top: 20px;
    color: white;
}

#loader img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

#botones-contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px; 
}


#tabla-contenedor {
    max-width: 100%;
    overflow-x: auto;  
    overflow-y: auto;  
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}


.tabla-resultados {
    width: 100%;
    min-width: 600px; /* Ancho mínimo */
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 30px;
}

/* Estilo para las celdas del encabezado */
.tabla-resultados thead th {
    background: linear-gradient(135deg, #ff7f50, #ff4500, #ff6347);
    color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

/* Estilo para las celdas del cuerpo */
.tabla-resultados tbody td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;  /* Evitar que el texto se divida en líneas nuevas */
}

/* Alternar color de fondo en las filas del cuerpo */
.tabla-resultados tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Mejorar la visibilidad del hover en las filas */
.tabla-resultados tbody tr:hover {
    background-color: #f1f1f1;
}



#sello-calidad {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

#sello-calidad img {
    width: 150px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

#sello-calidad img:hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    
    #botones-contenedor {
        flex-direction: column; 
        align-items: center;
    }

    
    form {
        max-width: 300px; 
    }
}

@media (max-width: 768px) {
    form {
        width: 90%;
    }

    #logo {
        width: 120px;
    }

    #sello-calidad img {
        width: 100px;
    }

    
    #botones-contenedor {
        flex-direction: column; 
        align-items: center;
    }

 
    #tabla-contenedor {
        display: none;
    }
}
